body{
    font-size: 24px ;
}

#inline{
    display: inline;
}

#red{
    display: inline-block;
    background-color: red;
    height: 200px;
    width:200px;
}

#green{
    display: block; 
    background-color: green;
    height: 200px;
    width:200px;
}

#blue{
    display: inline-block;
    background-color:blue;
    height: 200px;
    width:200px;
}