h1{
    background-color: blueviolet;
    font-family: fantasy;
    font-weight: 700;
}
body{
    background-image: url("/divyanshu.png");
    background-repeat: no-repeat;
    background-size: cover; 
}
*{
    text-align: center;
}
button{
    background-color:darkcyan;
    font-weight: 800;
}
p{
    color: blueviolet;
}